<div *ngFor='let item of itemList | searchFilter: searchString | priceFilter: {min: minValue, max: maxValue} | categoryFilter: categorySelectedNames | paginate: {
        itemsPerPage: 3,
        currentPage: pageNumber }'>
    <app-item [item]='item' (onAdd)='onAdd($event)' (onDetails)='onDetails($event)'></app-item>
</div>

<div>
    <pagination-controls *ngIf='itemList.length > 0' class='custom-pagin' (pageChange)='pageNumber=$event' autoHide="true" previousLabel=''
        nextLabel=''>
    </pagination-controls>
</div>
<button hidden type="button" id='dialogButton' data-toggle="modal" data-target=".modal">Launch modal</button>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">{{itemDetails.name}}</h2>
            </div>
            <div class="modal-body">
                <p>{{itemDetails.description}}&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)='onAdd(itemDetails)' class="btn btn-primary">Dodaj do koszyka</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->