<div class='row'>
    <div class='col-md-12'>
        <div class='item-desc'>
        <div class='col-md-7'>
            <h3>{{cartItem.item.name}}</h3>
            <h4>{{cartItem.item.desc}}</h4>
        </div>
        <div class="col-md-3">
            <div class="plus-minus-custom input-group order-buttons">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger minus-button" [disabled]="cartItem.count == 1" (click)='minus($event)'>
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="number" min="1" disabled class="form-control input-number input-order"
                        [value]="cartItem.count">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success plus-button" [disabled]="" (click)='plus($event)'>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
            </div>
        </div>
        <div class="col-md-2 right-price">
            <h3>{{(cartItem.item.price * cartItem.count) | number: '1.2-2' | plnCurrency}}</h3>
            <button class="btn btn-danger" (click)='delete($event)'>Usuń z koszyka</button>
        </div>
    </div>
    </div>
</div>