<!--The content below is only a placeholder and can be replaced.-->
<div >
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class='navbar-header'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toogle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/shop">Sklep internetowy</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/shop">Sklep</a></li>
          </ul>
          <ul class="navbar navbar-nav navbar-right">
            <a class="navbar-brand" routerLink="/cart">
              <img alt="Brand" src="../assets/images/cart.png">
            </a>
            <button type="button" routerLink="/cart" class="btn btn-default navbar-btn">
              Koszyk <span class="badge">4</span>
            </button>
          </ul>
        </div>
      </div>
    </div>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
