@import "~nouislider/distribute/nouislider.min.css";

.price-input-max {
    padding-left: 8px;
}


.price-input-min {
    padding-right: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}