<div class="row">
    <div class="col-md-6 price-input-min">
        <div class="input-group">
            <span class="input-group-addon">MIN</span>
            <input min='0' class="form-control" [value]="min" (keyup.enter)="minValue($event)">
        </div>
    </div>
    <div class="col-md-6 price-input-max">
        <div class="input-group">
            <input min='0' class="form-control" [value]="max" (keyup.enter)="maxValue($event)">
            <span class="input-group-addon">MAX</span>
        </div>
    </div>
</div>